/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

@font-face {
    font-family: ZonaPro;
    font-display: swap;
    src: url("../../fonts/ZonaPro-ExtraBold.woff2") format("woff2"), url("../../fonts/ZonaPro-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: Akrobat;
    font-display: swap;
    src: url("../../fonts/Akrobat-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: Akrobat;
    font-display: swap;
    src: url("../../fonts/Akrobat-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Akrobat;
    font-display: swap;
    src: url("../../fonts/Akrobat-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: Akrobat;
}

h1 {
    font-family: ZonaPro;
}

body {
    
}

.wrapper {
    min-width: 360px;
    max-width: 1922px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: linear-gradient(to right,#fff 852px,#D3D1E9 852px);
}

/* ! Header */

header {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.summon-menu {
    margin: 0px 30px;
    display: none;
}

.hearts {
    margin-left: 88px;
    margin-right: auto;
}

@media (max-width:530px) {
    .hearts {
        margin-left: 0px;
        margin-right: 0px;
    }
    header {
        justify-content: space-between;
    }
}

.inner-menu li {
    display: inline;
    margin-right: 85px;
    list-style-type: none;
}

@media (max-width:1310px) {
    .inner-menu li {
        margin-right: 30px;
    }
}

.inner-menu a {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: right;
    color: #000000;
}
.inner-menu a:active, a:hover {
    color: #FF0000;
}

.red-block {
    height: 120px;
    width: 120px;
    background-color: #CE0002;
    display: flex;
    justify-content: center;
    align-items: center;
}
.red-block:hover {
    background-color: #FE0002;
}
.red-block:active {
    background: #A60002;
}

.red-block a {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

/* ! Footer */

.backgrn-line {
    height: 77px;
    background: #FFFFFF;
}

footer {
    height: 54px;
    background-color: #efefef;
    padding: 0px 16px 0px 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #7E7E7E;
}

.footer__inner-menu li {
    display: inline;
    margin-right: 50px;
    list-style-type: none;
}


.footer__inner-menu li:last-child {
    margin-right: 0px;
}

.footer__inner-menu a {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #7E7E7E;
}

.footer__lot-icons li {
    display: inline;
}

/* !! Adaptive Header & footer */
@media (max-width:1026px) {
    .wrapper {
        max-width: 1026px;
        background: linear-gradient(to right,#fff 97px,#D3D1E9 97px);
    }
    .summon-menu {
        display: block;
    }
    .inner-menu li {
        display: none;
    }
    .footer__inner-menu li {
        margin-right: 10px;
    }
    .footer__inner-menu a {
        font-size: 14px;
        line-height: 17px;
    }
    .backgrn-line {
        height: 51px;
    }
}


@media (max-width:600px) {
    .wrapper {
        max-width: 600px;
        background: linear-gradient(to right,#F1FAFF 70px,#D3D1E9 70px);
    }
    header {
        height: 98px;
    }
    .summon-menu {
        margin: 0px 15px;
    }
    .red-block {
        height: 98px;
        width: 98px;
    }
    footer {
        padding: 0px 16px 0px 20px;
    }
    .footer__inner-menu li {
        display: none;
    }
    .backgrn-line {
        height: 49px;
        background: #F1FAFF;
    }
}


/* !!!!!!!! */

/* !! MAIN */



.lot-icons {
    position: fixed;
    top: 341px;
    left: 10px;
}

@media (max-width:1216px) {
    .lot-icons {display: none;}
}

.lot-icons li {
    margin-bottom: 18px;
}

/* !Контен */

main {
    display: flex;
    flex-direction: column;
}

.games-title__welcome {
    display: flex;
    padding: 0px 20px 48px 20px;
    justify-content: space-around;
    height: auto;                  /* !! высота */
}

.games-title__text {
    width: 610px;
    height: fit-content;
    margin: 166px 0px 0px 10px;
    padding: 0px 10px 0px 20px;
}

.style-text h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 85px;
    text-transform: uppercase;
    color: #000000;
    width: 430px;
}

.style-text p {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    margin: 30px 0px;
}

.button-games-first {
    width: 192px;
    height: 94px;
}

.ninja-pixel {
    padding: 112px 0px 0px 10px;
}

.game-list__projects {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding: 100px 20px 0px 20px;
}

.game-list__section {
    width: 100%;
    height: auto;
    margin: 143px 0px 0px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.game-list__description {
    width: 609px;
    height: fit-content;
    margin: 0px 0px 0px 10px;
    padding: 0px 0px 0px 20px;
}

.game-list__image {
    height: auto;
    margin: 0px 0px 0px 10px;
    padding: 0px 0px 0px 20px;
}

.game-list__image img {
    width: 100%;
    height: auto;
}

@media (max-width:1216px) {
    .game-list__projects {
        padding: 100px 10px 0px 10px;
    }
    .game-list__image {
        width: 57.15%;
    }
}



@media (max-width:1026px) {
    .games-title__welcome {
        position: relative;
        flex-direction: column;
        justify-content: normal;
        padding: 0px 20px 92px 20px;
    }
    .games-title__text {
        margin: 128px 0px 0px 15.3%;
    }
    .position-button-main-page {
        position: absolute;
        left: 69.4%;
        bottom: 376px;
    }
    .ninja-pixel {
        padding: 105px 0px 0px 15.3%;
    }
    .game-list__projects {
        padding: 12px 10px 0px 10px;
    }
    .game-list__section {
        margin: 107px 0px 0px 0px;
    }
    .game-list__description {
        width: 50%;
        margin: 0px 0px 0px 5px;
        padding: 0px 0px 0px 10px;
    }
    .game-list__image {
        width: 50%;
        margin: 0px 0px 0px 5px;
        padding: 0px 0px 0px 10px;
    }
}

@media (max-width:850px) {
    .games-title__text {
        margin: 128px 0px 0px 5.88%;
    }
    .position-button-main-page {
        right: 2%;
        left: auto;
    }
    .ninja-pixel {
        padding: 105px 0px 0px 5.88%;
    }
    .game-list__section{
        flex-direction: column;
        margin: 80px 0px 114px 0px;
        position: relative;
    }
    .column-reverse {
        flex-direction: column-reverse;
    }
    .game-list__description {
        width: 95%;
        margin: 0px 0px 0px 5px;
        padding: 0px 0px 0px 10px;
    }
    .game-list__image {
        width: 95%;
        margin: 0px 0px 0px 5px;
        padding: 0px 0px 0px 10px;
    }
    .position-button-game-page {
        position: absolute;
        bottom: -114px;
    }
}

@media (max-width:720px) {
    .games-title__welcome {
        padding: 0px 20px 185px 20px;
    }
    .games-title__text {
        padding: 0px;
        margin: 128px 0px 0px 3.88%;
    }
    .ninja-pixel {
        padding: 105px 0px 0px 3.88%;
    }
    .position-button-main-page {
        right: auto;
        left: 25%;
        bottom: 50px;
    }
}

@media (max-width:600px) {
    .style-text h1 {
        font-size: 32px;
        line-height: 38px;}
    .style-text p {
        font-size: 16px;
        line-height: 20px;
        margin: 15px 0px;
    }
    .games-title__welcome {
        height: auto;           /* !! высота */
        padding: 0px 15px 143px 15px;
    }
    .games-title__text {
        width: 95%;
        margin: 78px 0px 0px 0px;
    }
    .ninja-pixel {
        padding: 0px;
        margin: 13px 14.133% 0px auto;
        background-image: url(../images/x3-m.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 208px;
        height: 329px;
    }
    .ninja-pixel img {
        display: none;
    }
    .game-list__projects {
        background: #F1FAFF;
    }
    .position-button-main-page {
        right: auto;
        left: 25%;
        bottom: 17px;
    }
    .game-list__section{
        margin: 80px 0px 124px 0px;
    }
    .game-list__description {
        width: 95%;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .game-list__image {
        width: 100%;
        margin: 20px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .position-button-game-page {
        bottom: -114px;
        left: 0px;
    }
}