/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    
}

.wrapper {
    min-width: 360px;
    max-width: 1922px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: linear-gradient(to right,#fff 852px,#FFEE2F 852px);
}

/* ! Header */

header {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.summon-menu {
    margin: 0px 30px;
    display: none;
}

.hearts {
    margin-left: 88px;
    margin-right: auto;
}

@media (max-width:530px) {
    .hearts {
        margin-left: 0px;
        margin-right: 0px;
    }
    header {
        justify-content: space-between;
    }
}

.inner-menu li {
    display: inline;
    margin-right: 85px;
    list-style-type: none;
}

@media (max-width:1310px) {
    .inner-menu li {
        margin-right: 30px;
    }
}

.inner-menu a {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: right;
    color: #000000;
}
.inner-menu a:active, a:hover {
    color: #FF0000;
}

.red-block {
    height: 120px;
    width: 120px;
    background-color: #CE0002;
    display: flex;
    justify-content: center;
    align-items: center;
}
.red-block:hover {
    background-color: #FE0002;
}
.red-block:active {
    background: #A60002;
}

.red-block a {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

/* ! Footer */

.backgrn-line {
    height: 77px;
    background: #FFFFFF;
}

footer {
    height: 54px;
    background-color: #efefef;
    padding: 0px 16px 0px 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #7E7E7E;
}

.footer__inner-menu li {
    display: inline;
    margin-right: 50px;
    list-style-type: none;
}


.footer__inner-menu li:last-child {
    margin-right: 0px;
}

.footer__inner-menu a {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #7E7E7E;
}

.footer__lot-icons li {
    display: inline;
}

/* !! Adaptive Header & footer */
@media (max-width:1026px) {
    .wrapper {
        max-width: 1026px;
        background: linear-gradient(to right,#fff 97px,#FFEE2F 97px);
    }
    .summon-menu {
        display: block;
    }
    .inner-menu li {
        display: none;
    }
    .footer__inner-menu li {
        margin-right: 10px;
    }
    .footer__inner-menu a {
        font-size: 14px;
        line-height: 17px;
    }
    .backgrn-line {
        height: 51px;
    }
}


@media (max-width:600px) {
    .wrapper {
        max-width: 600px;
        background: linear-gradient(to right,#F1FAFF 70px,#FFEE2F 70px);
    }
    header {
        height: 98px;
    }
    .summon-menu {
        margin: 0px 15px;
    }
    .red-block {
        height: 98px;
        width: 98px;
    }
    footer {
        padding: 0px 16px 0px 20px;
    }
    .footer__inner-menu li {
        display: none;
    }
    .backgrn-line {
        height: 49px;
        background: #F1FAFF;
    }
}


/* !!!!!!!! */

/* !! MAIN */



.lot-icons {
    position: fixed;
    top: 370px;
}

.lot-icons li {
    margin-bottom: 18px;
}

/* !Контен */

.about-company {    /* !Общий Контэйнер */
    display: flex;
    flex-direction: column;
    padding-left: 90px;
}

.about-company__more {
    min-height: 822px;
    display: flex;
}

.about-company__text {
    max-width: 620px;
    min-width: 400px;  /* !! минимальная ширина текста */
    height: 520px;
    margin: 161px 0px 0px 95px;
}

.about-company__text h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 85px;
    color: #000000;
}

.about-company__text p {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    margin-top: 73px;
}

.about-company__progress {
    position: relative;
    z-index: 1;
}

.card-container {
    width: 545px;
    height: 560px;
    margin: 150px 0px 0px 182px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-container__line {
    display: flex;
    justify-content: space-between;
}

.card {
    height: 260px;
    width: 200px;
}

.card__cont-img {
    height: 137px;
    width: 137px;
    background: #E8D935;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.card__cont-img::before {
    height: 137px;
    width: 137px;
    content: "";
    background: #F2E33A;
    position: absolute;
    bottom: 25px;
    left: 23px;
    z-index: -1;
}

.card h4{
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 55px;
    color: #000000;
}

.card p{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #646464;
}

.about-company__our-team {
    margin: 300px 0px 100px 95px;
    display: flex;
    flex-direction: column;
}

.our-team__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 274px 28px 0px;
}

.our-team__title h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 85px;
    text-transform: uppercase;
    color: #000000;
    width: 350px;
}

.button-arrow {
    width: 220px;
    height: 67px;
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 67px;
    height: 67px;
}

.btn-left {
    background: #F1F1F1;
}
.btn-right {
    background: #CE0002;
}

.our-team__cards {
    display: flex;
    justify-content: space-between;
    padding-right: 151px;
}

.team__card-container {
    width: 342px;
    height: 476px;
    display: flex;
    flex-direction: column;
}

.team__card-container h4 {
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
    margin-top: 16px;
}

.team__card-container h6 {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 25px;
    color: #000000;
    margin-top: 8px;
}

.team__card-container p {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin-top: 25px;
}


@media (max-width:1026px) {
    .lot-icons {
        display: none;
    }
    .about-company{
        padding-left: 41px;
    }
    .about-company__more {
        flex-direction: column;
        align-items: center;
        padding-left: 0px;
    }
    .about-company__text {
        margin: 95px 0px 0px 0px;
    }
    .about-company__progress {
        max-width: 1000px;
    }
    .card-container {
        margin: 114px 0px 0px 0px;
    }
    .about-company__our-team {
        margin: 140px 0px 0px 0px;
        padding-top: 200px;
        background: #FFFFFF;
        max-width: 985px;
    }
    .our-team__title {
        justify-content: space-between;
        margin: 0px 0px 28px 0px;
    }
    .button-arrow {
        margin-right: 47px;
    }
    .our-team__cards {
        flex-wrap: wrap;
        justify-content: space-between;
        padding-right: 47px;
    }
}


@media (max-width:600px) {
    .about-company {
        padding-left: 15px;
    }
    .about-company__more {
        padding-left: 0px;
        align-items: center;
    }
    .about-company__text {
        max-width: 340px;
        min-width: 340px;
        height: 345px;
        margin: 78px 0px 0px 0px;
    }
    .about-company__text h1 {
        font-size: 32px;
        line-height: 38px;
    }
    .about-company__text p {
        font-size: 16px;
        line-height: 20px;
        margin-top: 24px;
    }
    .card-container {
        width: 340px;
        height: 400px;
        margin: 67px 0px 0px 0px;
    }.card {
        height: 200px;
        width: 140px;
    }
    .card__cont-img {
        height: 85.6px;
        width: 85.6px;
    }
    .card__cont-img::before {
        height: 85.6px;
        width: 85.6px;
        bottom: 15.6px;
        left: 14.4px;
    }
    .card h4{
        font-size: 32px;
        line-height: 40px;
    }
    .card p{
        font-size: 16px;
        line-height: 20px;
    }
    .card__img img {
        width: 44px;
        height: 44px;
    }
    .about-company__our-team {
        margin: 0px 0px 0px 0px;
        padding-top: 134px;
        background: #F1FAFF;
        max-width: 985px;
        align-items: center;
    }
    .our-team__title {
        margin: 0px 0px 34px 0px;
        width: 342px;
    }
    .our-team__title h1 {
        font-size: 32px;
        line-height: 38px;
        width: 240px;
    }
    .button-arrow {
        display: none;
    }
    .our-team__cards {
        padding-right: 5px;
        flex-direction: column;
    }
    .team__card-container p {
        font-size: 16px;
        line-height: 20px;
    }
}